@use "sass:map";

@import "variables";

/** region Google Font */

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap");

/** endregion */

/** region Google Font Icons */

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  display: flex;
}

/** endregion */

/** region Bootstrap components */

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

/** endregion */

/** region .btn */

.btn {
  display: flex;
  align-items: center;
  gap: map.get($spacers, 2);
}

/** endregion */

/** region .btn-secondary */

[data-bs-theme=dark] {
  .btn-secondary {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-disabled-color: var(--bs-body-color);
    --bs-btn-bg: rgba(255, 255, 255, 0.1);
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.15);
    --bs-btn-active-bg: rgba(255, 255, 255, 0.2);
    --bs-btn-disabled-bg: rgba(255, 255, 255, 0.05);
  }
}

[data-bs-theme=light] {
  .btn-secondary {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-disabled-color: var(--bs-body-color);
    --bs-btn-bg: rgba(0, 0, 0, 0.1);
    --bs-btn-hover-bg: rgba(0, 0, 0, 0.15);
    --bs-btn-active-bg: rgba(0, 0, 0, 0.2);
    --bs-btn-disabled-bg: rgba(0, 0, 0, 0.05);
  }
}

/** endregion */

/** region .mw-x */

@each $key, $value in $grid-breakpoints {
  .mw-#{$key} {
    max-width: $value;
  }
}

/** endregion */

/** region .fs-x */

.fs-lg {
  font-size: $font-size-lg;
}

.fs-normal {
  font-size: $font-size-base;
}

.fs-sm {
  font-size: $font-size-sm;
}

/** endregion */

/** region CDK */

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-preview {
  opacity: 0;
}

/** endregion */

/** region .card */

.card {

  > .card-body {
    display: flex;
    flex-direction: column;
    gap: map.get($spacers, 3);

    .card-title {
      display: flex;
      align-items: center;
      gap: map.get($spacers, 3);
      font-weight: $font-weight-medium;
      margin: 0;
    }
  }

  &.card-link {
    &:hover,
    &:focus {
      border-color: var(--bs-primary);
    }

    &:active {
      position: relative;
      top: 3px;
    }
  }
}

/** endregion */

/** region .nav-pills .list-group */

.nav-pills,
.list-group {

  &.nav-pills {
    gap: map.get($spacers, 1);
  }

  .nav-link,
  .list-group-item {
    border-color: var(--bs-border-color);
    background: none;
    color: var(--bs-secondary-text-emphasis);
    display: flex;
    gap: map.get($spacers, 3);
    align-items: center;

    > fa-icon {
      opacity: 0.75;
    }
  }

  .nav-link,
  .list-group-item-action {

    &:hover,
    &:focus {
      background: rgba(var(--bs-body-color-rgb), 0.025);
    }

    &:active,
    &.active {
      color: var(--bs-body-color);
      background: rgba(var(--bs-body-color-rgb), 0.05);
    }

    &.active {
      font-weight: $font-weight-medium;
    }
  }
}

/** endregion */

/** region .text-pre */

.text-pre {
  white-space: pre-wrap;
}

/** endregion */

/** region .form-control */

.form-control {
  @include scrollbar;
  resize: none;
}

/** endregion */

/** region .background-effects */

.background-effects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .effect {
    position: absolute;
    box-shadow: 0 0 100rem 15rem;
  }

  .effect:nth-child(1) {
    color: rgba($blue, 0.1);
    top: 10%;
    left: 10%;
  }

  .effect:nth-child(2) {
    color: rgba($red, 0.1);
    bottom: 10%;
    right: 10%;
  }
}

/** endregion */
